* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

img.svg {
  width: 22px;
}

img#exe {
  width: 42px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input[type=text], 
input[type=date],
textarea, select,
button {
  appearance: none;
}

button {
  background-color: white;
  border: 2px solid;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

body {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  min-width: 908px;
  min-height: 944px;
  position: relative;
}

header.main{
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr repeat(3,auto);
  align-items: center;
  padding: 10px 40px 5px 16px;
  gap: 12px;
  background-color: #cbf3f0;
  box-shadow: 0px 2px 4px #2ec4b6;
}

aside {
  grid-area: 2 / 1 / 3 / 2;
  margin-top: 2px;
  width: 250px;
  height:  calc(100vh - 47px);
  min-height: 894px;
  padding: 18px;
  background-color: #ffbf69;
  box-shadow: 2px 0px 4px #ff9f1c;
  display: grid;
  grid-template-rows: auto minmax(300px, 1fr) auto;
}

aside ul#navi{
  border-bottom: 1px solid grey;
  box-shadow: 0 2px 1px -1px grey;
}

aside ul#navi 
li {
  margin-bottom: 8px;
}

aside ul#navi 
li:last-of-type{
  display: flex;
  gap: 22px;
  height: 26px;
  margin-bottom: 4px;
}

aside ul 
li button.list {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.6rem;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 700;
  gap: 8px;
  border: 0;
}

aside ul 
li button.list:hover,
div button.cardBtn:hover {
  filter:invert(59%) sepia(0%) saturate(1032%) hue-rotate(172deg) brightness(86%) contrast(86%);
}

aside ul 
li button.list:active {
  filter: invert(100%) sepia(0%) saturate(7455%) hue-rotate(56deg) brightness(106%) contrast(99%);
}

button#addProject {
  width: 19px;
  height: 19px;
  font-size: 1rem;
  align-self: center;
  font-weight: bolder;
  border: 2px solid;
  border-radius: 50%;
  border-color: #cbf3f0 #2ec4b6 #2ec4b6 #cbf3f0;
  color: #ff9f1c;
}

button#addProject:active {
  border-color: #2ec4b6 #cbf3f0 #cbf3f0 #2ec4b6;
}

aside ul#projectList {
  min-height: 300px;
  padding: 16px;
  font-size: 1.2rem;
}

aside ul#projectList
li {
  display: grid;
  grid-template-columns: 1fr repeat(2, auto);
  gap: 5px;
}

aside a {
  grid-row: 3 / 4;
  height: 40px;
  justify-self: center;
  display: flex;
  align-items: center;
  filter: invert(51%) sepia(100%) saturate(3522%) hue-rotate(164deg) brightness(99%) contrast(102%)
}

aside a 
img:hover {
  filter: drop-shadow(0 0 4px white);
}

main {
  width: 100%;
  height: 100%;
  padding: 30px;
}

main section
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 8px;
  box-shadow: 0 3px 3px -3px;
}

header#todayHeader > button {
  width: 32px;
  font-size: 1.5rem;
  border-radius: 50%;
  border-color: #ffbf69 #ff9f1c #ff9f1c #ffbf69 ;
  color: #2ec4b6;
}

header#todayHeader > button:active {
  border-color: #ff9f1c #ffbf69 #ffbf69 #ff9f1c ;
}

div.High, 
div.Medium,
div.Low {
  margin: 12px auto;
  width: 574px;
  padding: 8px 12px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px grey;
  display: grid;
  align-items: center;
  grid-template-columns: 30px 1fr 100px repeat(3, 30px);
  grid-template-rows: repeat(2, auto);
}

div.notes {
  width: 100%;
  margin-top: 4px;
  font-style: italic;
  border-top: 1px solid grey;
  padding: 5px;
  grid-column: 2 / -1;
}

main section >
div.High {
  border-left: 4px solid red;
}

main section >
div.Medium {
  border-left: 4px solid orange;
}

main section >
div.Low {
  border-left: 4px solid gray;
}

input[type='checkbox'] {
  position: relative;
  appearance: none;
  border-radius: 50%;
  border: 2px solid #ff9f1c;
  height: 16px;
  width: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 1 / 2;
}

input[type='checkbox']:checked::after {
  display: block;
  content: ' ';
  height: 6px;
  width: 6px;
  background-color: #ff9f1c;
  border-radius: 50%;
}

div 
button.cardBtn {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
}

div button.cardBtn:active {
  filter: invert(88%) sepia(30%) saturate(161%) hue-rotate(126deg) brightness(99%) contrast(96%);
}

section#form {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 47px 1fr;
  background-color: rgba(0, 0, 0, 0.2);
}

form#form {
  grid-area: 2 / 2 / 3 / 3;
  padding: 20px 50px;
  background-color: #cbf3f0;
  box-shadow: 1px 1px 4px #2ec4b6;
  border-radius: 8px;
}

form#form header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form#form 
button#closeButton {
  padding: 0 2px;
}

label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 12px 0;
}

input[type=text], 
input[type=date],
textarea, select {
  padding: 4px;
  border: 1px solid #ff9f1c;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;
  border-radius: 6px;
  box-shadow: 2px 2px 2px #2ec4b6;
  outline: none;
}

input[type=text]:focus,
input[type=date]:focus, 
select:focus,
textarea:focus {
  outline: 1px solid #ff9f1c
}

textarea {
  resize: none;
  width: 210px;
  height: 100px;
}

form#form
button {
  margin-left: auto;
  padding: 4px 8px;
  border-radius: 10px;
  border-color: #ffbf69 #ff9f1c #ff9f1c #ffbf69;
  color: #2ec4b6;
}

form#form
button:active {
  border-color: #ff9f1c #ffbf69 #ffbf69 #ff9f1c;
}